<li>
  <div class="row">
    <div class="col-md-6 burger-text">
  {{burger_name}}
    </div>
    <div class="col-md-6">
  <button class="changeDevoured" data-id="{{id}}" data-devour="{{devoured}}">
    {{#if devoured}}Make this burger again?{{else}}Devour me!{{/if}}
  </button>
    </div>
  </div>

</li>
